* {
    box-sizing: border-box;
}

:root {
    --border-radius: 5px;
    --border-width: 1px;
    --light-grey: #e2e0e0;
    --blue: #7f6cfc;
    --orange: #ffc877;
    --red: #c14444;
    --background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

#calculator {
    outline: 2px solid orange;
    width: 45%;
    height: 80%;
    min-width: 300px;
    min-height: 400px;
    background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
    margin: auto;
    margin-top: 80px;
    border: 2px solid var(--light-grey);
    border-radius: var(--border-radius);
    padding: 10px;
}

#calculator h1 {
    outline: 1px solid black;
    background-image: var(--background-image);
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border-radius: var(--border-radius);
}

#display-container {
    outline: 2px solid orange;
    font-size: 1.8rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: darkblue;
    width: 100%;
    height: 20%;
    min-height: 50px;
    border-radius: var(--border-radius);
    background-color: #ededed;
    margin-bottom: 10px;
}

#display-container p {
    margin: 0.5rem;
    vertical-align: text-bottom;
}

#buttons-container {
    width: 100%;
    height: 60%;
    min-height: 300px;
    border: var(--border-width) solid var(--light-grey);
    border-radius: var(--border-radius);
    background-color: var(--light-grey);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.button {
    outline: 0.1px solid orange;
    width: 25%;
    height: 20%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border-width) solid var(--light-grey);
    background-color: #ededed;
    font-size: 1.8rem;
    cursor: pointer;
    transition-duration: 1s;
}

.button:hover {
    background-color: var(--orange);
}

.red {
    outline: 0.5px solid black;
    background-color: var(--red);
    color: white;
}

.red:hover{
    background-color: #FF033E;
}

.blue {
    outline: 0.5px solid black;
    color: white;
    background-color: blue;
}

.blue:hover {
    background-color: #007FFF;
}

#button-0 {
    width: 50%;
    border-radius: 0 0 0 5px;
}

#button-clear {
    border-radius: 5px 0 0 0;
    background-color: orange;
    color: white;
}

#button-clear:hover {
    background-color: #FF7F50;
}

#button-divide {
    border-radius: 0 5px 0 0;
}

#button-equal {
    border-radius: 0 0 5px 0;
}